* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}
#navbarNav ul li a{
    transition: 0.5s;
    font-size: 20px;
    font-weight: bold;
}
#navbarNav ul li :active{

    background-color: rgb(124, 175, 79);
}
#navbarNav ul li a:hover{
    background-color: rgb(201, 157, 37);
    border-radius: 10px;
}

/* ---------------------------------------------------home page css starts--------------------------------------------- */

.image img {
    width: 100%;
    height: 85vh;
    
}
.image2 img {
    width: 100%;
    height: 70vh;
    
}


.card4 h5 {
    font-weight: bold;
}

.card4 h5:hover {
    
    color: red;
    cursor: pointer;
}

.product h5 {
    font-weight: bold;
}
.logo{
    font-weight: bold;
    transition: 0.9s;
    
}
.logo:hover{
    /* background-color: red; */
    cursor: pointer;
    color: aqua;
    transform: scale(0.9);
    
}
.home-navbar{
    position: sticky;
    z-index: 1000;
    
}
/* ---------------------------------------------------home page css starts--------------------------------------------- */

/*------------------------------------------------- about us css starts  ------------------------------------------*/

/* body{
    background: rgb(74, 66, 66);
} */
.inner-about img{
    
  
    height: 400px;
    border-radius: 20px;
    
    
}
@media(max-width:700px){
    .inner-about img{
        
        border-radius: 20px;
        margin-left: 1%;
        height: 200px;
        
    }
    .button3{
        margin-top: 1rem;
    }
}
@media(max-width:280px){
    .inner-about img{
        
        border-radius: 20px;
        margin-left: 1%;
        height: 200px;
        width: 200px;
        
    }
}
/*------------------------------------------------- about us css starts  ------------------------------------------*/


/* ---------------------------------------------------contact css strts-------------------------------------  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}
/* body{
    width: 100%;
    height: 100vh;
    display: grid;
    align-items: center;
    background-color: #e0dde1;
    font-family: 'popins',sans-serif;
    
} */
.contact-in{
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(142, 127, 127);
    box-shadow: 0px 0px 10px 0px #666;
}
.contact-map{
    
    width: 100%;
    height: auto;
    flex: 50%;
    
}
.contact-map iframe{
    
    width: 100%;
    height: 100%;
    
}
.contact-form{
    
    width: 100%;
    height: auto;
    flex: 50%;
    text-align: center;
    padding: 30px;
}
.contact-form p{
    color: #fff;
}
.contact-form ::placeholder{
    color: #aaa;
}
.contact-form h1{
    margin-bottom: 10px;
    color: white;
}
.contact-form-text{
    
    width: 100%;
    height: 40px;
    color: rgb(242, 238, 238);
    border: 1px solid #bcbcbc;
    border-radius: 50px;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
}
.contact-form-textarea{
  
      width: 100%;
      height: 140px;
      color: rgb(243, 240, 240);
      border: 1px solid #bcbcbc;
      border-radius: 10px;
      outline: none;
      margin-bottom: 20px;
      padding: 15px;
      font-family: 'popins',sans-serif;
    }
    .contact-form-textarea ::placeholder{
        color: #aaa;
    }
    .contact-form-btn{
        
      width: 100%;
      border: none;
      outline: none;
      border-radius: 50px;
      background-color: #be8e4c;
      color: #fff;
      text-transform: uppercase;
      padding: 10px 0;
      cursor: pointer;
      font-size: 18px;
      transition: 0.9s;
      
    }
    .contact-form-btn:hover{
        background-color: green;
        transform: scale(0.9);
    }
    .collig{
        font-size: 15px;
        font-weight: bolder;
        padding: 10px;
        color: rgb(12, 12, 12);
        
    }
    /* ---------------------------------------------------contact css strts-------------------------------------  */
    
    
    /* ---------------------------------------------------contact css strts-------------------------------------  */


    *{

        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .main{
        background-color: #5e5b5f;
        height: 1000;
       
    }
    
    p{
    
        color: grey;
        letter-spacing: 2px;
    }
    /* .services-cols  */
    .services-cols{
    
        display: flex;
        justify-content: center;
        
    }
    /* card  */
    .services-cols .card{
    
    
        box-shadow: 10px 10px 20px black;
        transition: all ease 2s;
        border-radius: 20px;
      
    }
    /* image */
    .card img{
    
        border-radius: 20px;
    }
     .card:hover{
    
        transform: scale(0.9);
    
    }
    /* ---------------------------------------------------contact css end-------------------------------------  */